* {
    font-family: 'Inter', sans-serif;   
    list-style: none; 
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

h1 {
    font-weight: 700;
    font-size: 28px;    
}
h2 {
    font-weight: 700;
    font-size: 24px;    
}
h3 {
    font-weight: 700;
    font-size: 20px;    
}
h4 {
    font-weight: 700;
    font-size: 16px;    
}

small {
    font-weight: 500;
    font-size: 10px;    
}

.container {
    margin: 0 auto;
    max-width: 1250px;
}

/* scroll personalizado */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

header {
    padding: 10px 0;
    width: 100%;
    box-shadow: 0px -10px 30px -3px rgb(0 0 0 / 50%);
}

.cabecalho {
    display: flex;
    align-items: center;
}

.logo {
    width: 50%;
    font-size: 28px;
    font-weight: 700;
    padding-left: 50px;
}

.cabecalho nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.menu {    
    display: flex;
    column-gap: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
}
.menu a:hover {
    font-size: 17px;

    transition: 0.3s;
}

.menu-selected {
    font-weight: 700;
}

main {
    display: flex;    
    justify-content: space-between;
}

main .produtos {
    width: 70%; 
    max-height: 850px;
    display: flex;   
    overflow-y: auto;
    overflow-x: visible; 
    flex-wrap: wrap;
    padding: 40px 0 0 50px;

    animation-name: blink;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.card-produto {
    width: 240px;    
    border: 2px solid #F5F5F5;
    border-radius: 5px;
    margin: 0 28px 28px 0;
    height: max-content; 
    box-shadow: 0px 0px 20px -8px rgb(0 0 0 / 40%);
}

.card-produto:hover {
    border: 2px solid #37268C;
    transition: 0.5s;
}

.card-produto .card-img {
    display: flex;
    justify-content: center;
    position: static;
    opacity: 0%;
    z-index: 2;
    margin-bottom: 15px;
    height: 100px;
}
.card-produto .card-img img {    
    height: 100%;
    position: static;
    z-index: -1;
}

.card-produto .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-produto small {
    width: fit-content;
    background-color: #2E245E;
    border-radius: 2px;
    padding: 5px 5px;
    color: #fff;
}

.card-produto .card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 20px;
    padding: 0 5px 15px;
    margin: 5px 0;
    max-height: 260px;
}
.card-produto .card-info p {
    min-height: 60px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;    
    overflow: hidden;
    text-overflow: ellipsis;

}

.card-info .add-cart:hover {
    color: #37268C;
    font-weight: 500;
    text-decoration: underline;
    transition: 0.5s;
    cursor: pointer;
}

main aside {
    width: 28%;
    margin: 40px 0 0 20px;
}

main aside .buscador {
    display: flex;
}
main aside .buscador input{
    padding: 10px 10px;
    box-sizing: border-box;
    height: 40px;
    border: 1px solid rgba(0,0,0, 0.1);
    border-radius: 5px 0 0 5px;
    width: 80%;      
}

main aside .buscador button{
    box-sizing: border-box;
    height: 40px;
    background-color: #2E245E;
    border: none;
    color: #fff;
    padding: 10px 10px;
    border-radius: 0 5px 5px 0; 
    font-weight: 700;   
}

main aside .buscador button:hover{
    background-color: #37268C;
    cursor: pointer;
}


aside .cart .cart-title {
    margin-top: 20px;
    
    background-color: #2E245E;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 8px 8px 0 0;
}

#cart-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    min-height: 250px;
    background-color: #F5F5F5;
}


aside .cart .cart-list {
    height: 270px;
    padding: 10px 5px 0 5px;
    background-color: #F5F5F5;
    overflow-y: auto;    

}

aside .cart .cart-item {
    
    display: flex;
    border-radius: 5px;
    height: 80px;
    column-gap: 20px;
    box-sizing: content-box;
}

aside .cart .cart-item:hover {
    background-color: rgba(85, 85, 85, 0.5);
    transition: 0.5s;
}


.cart-list .cart-item-img {
    padding: 5px 0 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;    
}

.cart-list .cart-item-img img {
    background-color: #fff;
    border-radius: 5px;
    height: 100%;
    overflow: hidden;
}

aside .cart .cart-item .cart-item-description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

aside .cart .cart-item .cart-item-description .remove-cart:hover {
    color: #37268C;
    font-weight: 500;
    text-decoration: underline;
    transition: 0.5s;
    cursor: pointer;
}

aside .cart-result {
    background-color: black;
    color: #fff;
    height: 100px;  
    border-radius: 0 0 5px 5px;  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

aside .cart-result-quantidade {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box;
}

aside .cart-result-total {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box;
}

.filtrar {
    display: none;
}

.animar {
    animation-name: blink;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes blink {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;        
    }
    
}